@font-face {
    font-family: JetBrains;
    src: url("../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}
@font-face {
    font-family: Stoke;
    src: url("../fonts/Stoke/Stoke-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: StokeLight;
    src: url("../fonts/Stoke/Stoke-Light.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: Syne;
    src: url("../fonts/Syne_Mono/SyneMono-Regular.ttf");
}


:root {
    --body-color: #f2eec9;
    --text-color: #58482a;
    --text-color-light: #f2eec9;
    --link-color: #292a3f;
    --link-after-color: #7f3471;
    --secondary-text-color: #5c2173;
    --background-color: #46486d;
    --navigation-bar-color: #dfd9aa;
}


body {
    margin: 0px 0px 0px 0px;
    font-family: Stoke;
    background-color: var(--body-color);
    color: var(--text-color);
    min-height: 100%;
}

a {
    color: var(--link-color);
}

li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

button {
    font-family: Stoke;
    font-weight: bold;
    font-size: 12pt;
    border: none;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 1 auto;
    /* align-items: center; */
}

/* .content > .content-page {
    background-color: #dfd9aa;
    min-width: 100px;
} */


.header-container {
    flex: 0 0 20px;
    position: sticky; top: 0;
}

.header {
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: var(--background-color);
    position: relative;
    
}


.header.collapsed {
    top: -100%;
}



.title {
    margin: 20px 20px 5px 20px;
    color: var(--text-color-light);
    display: inline-block;
}

.subtitle {
    margin: 0px 0px 0px 0px;
    color: var(--text-color-light);
    display: inline-block;
    color: #b3a38c;
}

.subtitle.new {
    animation-name: fade-in;
    animation-duration: 0;
}


@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.drop-down-btn {
    border-bottom-right-radius: 10px;
    padding: 0px;
    width: 30px;
    height: 40px;
    display: inline-block;
    background-color: var(--background-color);
    border: 0px;
    /* position: relative; */
}

.drop-down-btn-inner {
    rotate: 45deg;
    color: var(--text-color-light);
}


.header.collapsed .btn-inner {
    rotate: 0deg;
}

