

:root {
	--body-color: #f2eec9;
	--text-color: #58482a;
	--text-color-light: #f2eec9;
	--link-color: #292a3f;
	--link-after-color: #7f3471;
	--secondary-text-color: #5c2173;
	--background-color: #46486d;
	--navigation-bar-color: #dfd9aa;
}

td {
	padding-bottom: 10px;
}


tr:first-child > 	td {
	font-size: 20pt;
	font-weight: bolder;
}

td:first-child {
	font-size: 15pt;
}

.navbar ul {
	height: 20px;
}

.title {
	font-size: 15pt;
	margin: 5px 10px 10px 20px;
}
.subtitle {
	font-size: 10pt;
}

.sp-sub {
	color: var(--text-color-light);
	font-size: 15pt;
}

.sp-container {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

.sp-header {
	text-align: center;
	background-color: #afb0be;
	color: #171829;
	padding: 20px 0px 20px 0px;
}

.sp-header.smaller > div {
	display: inline-block;
}

.sp-body-container {
	flex: 1 1;
	display: flex;
	background-color: #46486d;
	color: #232329;
	flex-flow: row;
	justify-content: center;
}


div.sp-body {
	background-color: #afb0be;
	flex: 0 1 896px;
	max-width: 90%;
}

.sp-body-inner {
	padding: 40px 75px 40px 75px;
}

.sp-footer {
	height: 100px;
	background-color: #46486d;

	display: flex;
	justify-content: center;
	align-items: center;
}


.sp-btn {
	height: 60px;
	border-width: 3px;
	border-style: solid;
	background-color: #b6a991;
	/* background-color: #ddd2bd; */
}

.sp-btn:active {
	border-color: #504d46;
}

.sp-btn:hover, .sp-btn:focus, .sp-btn:active {
	background-color: #ddd2bd;
}

.img-container {
	position: inherit;
}

.img-container > img {
	max-width: 100%;
}

.img-overlay-container {
	position: fixed;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
}

.img-overlay-inner {
	max-width: 100%;
}


.doc {
	width: 100%;
	min-height: 1000px;
}