

:root {
    --body-color: #f2eec9;
    --text-color: #58482a;
    --text-color-light: #f2eec9;
    --link-color: #292a3f;
    --link-after-color: #7f3471;
    --secondary-text-color: #5c2173;
    --background-color: #46486d;
    --navigation-bar-color: #dfd9aa;
}

.navbar ul {
	height: 20px;
}

.title {
	font-size: 15pt;
    margin: 5px 10px 10px 20px;
}
.subtitle {
	font-size: 10pt;
}

.sp-container {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.sp-header {
    text-align: center;
    background-color: #afb0be;
    color: #171829;
    padding: 20px 0px 20px 0px;
}

.sp-body-container {
    flex: 1 1;
    display: flex;
    background-color: #46486d;
    color: #afb0be;
    flex-flow: row;
    justify-content: center;
}


div.sp-body {
    background-color: #afb0be;
    flex: 0 1 896px;
    max-width: 90%;
}

.sp-container h1 {

}