body {
    font-family: 'Courier New', Courier, monospace;
    /* overflow-y: hidden; */
    color: white;
    background-color: rgb(5, 5, 5);

    visibility: hidden;
}

a {
    cursor: crosshair;
}

ul {
    list-style: none;
    padding: 0px 5px 0px 5px;
}


a {
    color: rgb(125, 160, 239);
}


a:visited {
    color: rgb(196, 133, 233)
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    /* opacity: 15%; */
}

h1 {
    font-size: 30pt;
}

.main {
    list-style: none;
}


#name-label {
    margin: 0px;
}

.links > * {
    display: inline-block;
    padding-left: 0;
}

.links-list {
    margin: 0px;
}

.links-list > li {
    display: inline-block;
}

.links-list img {
    width: 18px;
}


.nav-btn {
    display: inline-block;
    padding: 0px 20px;
    font-size: 40px;
    font-weight: 100;

    cursor: crosshair;

}

.level-two .nav-btn {
    font-size: 30px;
}

.nav-btn::selection {
    background-color: rgba(0, 0, 0, 0);
}

.nav-btn.selected {
    font-weight: bold;
}

.nav-body {
    display: list-item;
}

.nav-body > li.hidden {
    visibility: hidden;
    display: none;
    max-height: 0px;
}



.about {
    max-width: 75%;
    min-width: 530px;
}

.about p {
    font-size: 20px;
}

.about h1 {
    font-weight: normal;
}







@media (max-width: 800px) {
    li.link-header {
        display: none;
    }

    .navbar > ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .nav-btn {
        font-size: 25pt;
        flex-grow: 1;
    }

    
    .level-two .nav-btn {
        font-size: 20px;
    }

}


@media (max-width: 550px) {

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links > * {
        display: block;

    }

    .nav-btn {
        font-size: 17pt;
        padding: 0px 10px;
    }
    
    .level-two .nav-btn {
        font-size: 17px;
    }

    .about {
        max-width: 100%;
        min-width: 0px;
    }

    .about h1 {
        font-size: 20pt;
    }

    .about p {
        font-size: 17px;
    }
}


img.bc-embed {
    min-height: auto;
}